<div class="row" data-ng-init='init()'>
  <div class="col-lg-12">
    <ol class="breadcrumb">
      <li><a href="index.html"><i class="fa fa-dashboard"></i> Tableau de bord</a></li>
      <li class="active"><i class="fa fa-table"></i> Produit</li>
    </ol>
  </div>
  </div><!-- /.row -->
  <div class="row">
    <div class="col-lg-12">
      <div class='tab-title'>
        <h2 class='pull-left'>Produit</h2>
        <button class='pull-right btn btn-sm btn-simple'  data-toggle="modal" data-target="#myModal">Ajouter un produit</button>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-hover tablesorter">
          <thead>
            <tr>
              <th> Nom <i class="fa fa-sort"></i></th>
              <th> Categorie <i class="fa fa-sort"></i></th>
              <th> Stocke <i class="fa fa-sort"></i></th>
              <th>% Vente <i class="fa fa-sort"></i></th>
              <th> Revenue <i class="fa fa-sort"></i></th>
              <th> Detail <i class="fa fa-sort"></i></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> Sony Experia Z2</td>
              <td> SmartPhone</td>
              <td> 100 </td>
              <td> 32.3% </td>
              <td>20321.33 DH</td>
              <td>
                <button class='btn btn-succes'></button>
              </td>
              
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div><!-- /.row -->
    <div class="row">
      </div><!-- /.row -->
      <div class="row">
        <div class="col-lg-6">
          <h2>Contextual Classes</h2>
          <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped tablesorter">
              <thead>
                <tr>
                  <th>Page <i class="fa fa-sort"></i></th>
                  <th>Visits <i class="fa fa-sort"></i></th>
                  <th>% New Visits <i class="fa fa-sort"></i></th>
                  <th>Revenue <i class="fa fa-sort"></i></th>
                </tr>
              </thead>
              <tbody>
                <tr class="active">
                  <td>/index.html</td>
                  <td>1265</td>
                  <td>32.3%</td>
                  <td>$321.33</td>
                </tr>
                <tr class="success">
                  <td>/about.html</td>
                  <td>261</td>
                  <td>33.3%</td>
                  <td>$234.12</td>
                </tr>
                <tr class="warning">
                  <td>/sales.html</td>
                  <td>665</td>
                  <td>21.3%</td>
                  <td>$16.34</td>
                </tr>
                <tr class="danger">
                  <td>/blog.html</td>
                  <td>9516</td>
                  <td>89.3%</td>
                  <td>$1644.43</td>
                </tr>
                <tr>
                  <td>/404.html</td>
                  <td>23</td>
                  <td>34.3%</td>
                  <td>$23.52</td>
                </tr>
                <tr>
                  <td>/services.html</td>
                  <td>421</td>
                  <td>60.3%</td>
                  <td>$724.32</td>
                </tr>
                <tr>
                  <td>/blog/post.html</td>
                  <td>1233</td>
                  <td>93.2%</td>
                  <td>$126.34</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        </div><!-- /.row -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Ajouter Un produit</h4>
              </div>
              <div class="modal-body" style='height:100%;'>
                <div class='col-lg-12 col-md-12 col-sm-12'>
                  <form class="form-horizontal" role="form">
                    <div class='col-lg-8 col-md-8 col-sm-8'>
                      <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">Nom Produit :</label>
                        <div class="col-sm-8">
                          <input ng-model='nomProduit' type="text" class="form-control" id="inputEmail3">
                          <p ng-show='(erreurNom && erreurNom.length > 0)' class="help-block animated fadeInDown">{{erreurNom}}</p>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputPassword3" class="col-sm-4 control-label">Categorie du Produit :</label>
                        <div class="col-sm-8">
                          <select class="form-control" ng-options="categorie.name for categorie in ListCategorieProduit" ng-model="categorieSelected">
                             <option style="display:none" value="">Selectionner une categorie ...</option>
                          </select>
                          <p ng-show='(erreurCategorie && erreurCategorie.length > 0)' class="help-block animated fadeInDown">{{erreurCategorie}}</p>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputPassword3" class="col-sm-4 control-label">Description détaillé :</label>
                        <div class="col-sm-8">
                          <textarea ng-model="descriptionProduit" class="form-control" rows="3"></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputPassword3" class="col-sm-4 control-label">Prix :</label>
                        <div class="col-sm-8">
                          <div class="input-group">
                            <input ng-model='prixProduit' type="number" min="0" class="form-control" placeholder="Prix unitaire">
                            <span class="input-group-addon">DH</span>
                          </div>
                          <p ng-show='(erreurPrix && erreurPrix.length > 0)' class="help-block animated fadeInDown">{{erreurPrix}}</p>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputPassword3" class="col-sm-4 control-label">Quantité du produit :</label>
                        <div class="col-sm-8">
                          <input ng-model='nombreProduit' type="number" min="0" class="form-control" placeholder="Quantite du produit">
                          <p ng-show='(erreurQuantite && erreurQuantite.length > 0)' class="help-block animated fadeInDown">{{erreurQuantite}}</p>
                        </div>
                      </div>
                    </div>
                    <div class='col-lg-4 col-md-4 col-sm-4'>
                      <div class="form-group">
                        <div class="col-sm-12">
                          <!-- <img class='img-responsive img-thumbnail col-lg-4 col-md-3 col-sm-3' src="http://placehold.it/250x300"> -->
                          <div flow-init flow-name="uploader.flow"
                            flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">
                            <div class="drop well btn-group" flow-drop ng-class="dropClass">
                              <div class="row">
                                <div class='col-lg-12 col-md-12 col-sm-12'>
                                  <button class="btn btn-sm btn-success" flow-btn>Uploader une image(s)</button>
                                </div>
                                <!-- <button class="btn btn-sm btn-success" flow-btn flow-directory ng-show="$flow.supportDirectory">un dossier d'image</button> -->
                                <div class='col-lg-12 col-md-12 col-sm-12'>
                                  <p class="help-block">Ou glissez l'image(s) sur la zone grise.</p>
                                </div>
                              </div>
                              </di>
                              <br/>
                              <div>
                                <div ng-repeat="file in $flow.files" class="gallery-box">
                                  <span class="title">{{file.name}}</span>
                                  <div class="thumbnail" ng-show="$flow.files.length">
                                    <img flow-img="file" />
                                  </div>
                                  <div class="progress progress-striped" ng-class="{active: file.isUploading()}">
                                    <div class="progress-bar" role="progressbar"
                                      aria-valuenow="{{file.progress() * 100}}"
                                      aria-valuemin="0"
                                      aria-valuemax="100"
                                      ng-style="{width: (file.progress() * 100) + '%'}">
                                      <span class="sr-only">{{file.progress()}}% Telecharger</span>
                                    </div>
                                  </div>
                                  <div class="btn-group">
                                    <a class="btn btn-xs btn-danger" ng-click="file.cancel()">
                                    Enlever
                                    </a>
                                  </div>
                                </div>
                                <div class="clear"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="modal-footer" style='overflow:hidden'>
                  <div class='col-lg-12'>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermé</button>
                    <button ng-click='ajouterProduit()' type="button" class="btn btn-primary">Enregitrer</button>
                  </div>
                </div>
              </div>
            </div>
          </div>